
body{
    font-family: "Roboto",sans-serif;
    color:#434455;
    font-size:16px;
    line-height: 1.5;
    background-color: #ffffff;
}
img {font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}
h1{
    font-weight: bold;
    font-size:56px;
    letter-spacing: 0.02em;
}
h2{
    font-weight: bold;
    font-size: 36px;
    text-align: center;
}
h3{
    font-weight: medium;
    font-size:20px;
}

.hero-button {
    font-weight:500; 
    background-color: #4D5AE5;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}
.hero-button:hover {
    background-color: #404BBF;
}
.hero-button:focus {
    background-color: #404BBF;
}
a{
    font-weight: 500;
    font-size:16px;
    text-decoration: underline;
    letter-spacing: 0.02em;
    color: #434455;
}
a:hover ,a:focus { 
    color:  #404bbf;
}
ol, ul  {
    list-style-type: none;
    
}
/*header*/
#header{
    background-color: #E7E9FC;
    
}
.nav-icons{
    color: #2e2f42;
}
.header-logo{
    font-family: "Raleway",sans-serif;
    font-size:18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4d5ae5;   
}
.header-logo-second{
    color: #2e2f42;
}
.header-logo-studio {
    color: #2e2f42;
}
.menu{
    text-decoration: none;
    color: #2e2f42;
    font-size:16px;
    font-weight: 500;
    letter-spacing: 0.02em;
}
.menu:hover, .menu:focus{
    color:#404bbf;
}
.contact-info {
    font-style: normal;
}
.contact-list{
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
}
.contact_list:hover, .contact_list:focus{
    color: #404bbf;
}
menu:active{
    text-decoration: underline;
    text-decoration-color: #404BBF;
    color:#404BBF;
}

/*SLIDER*/
.slider{
    background-color: #2E2F42;
    text-align: center;
    
}
.slider-title{
    color:#ffffff;
    line-height: 1.07;
    letter-spacing: 0.02em;
}
.blue-button{
    font-family: "Roboto", sans-serif;
    text-align: center;
    letter-spacing: 0.04em;
    color:white;
    background-color:#4D5AE5;
    font-size:16px;
    font-weight: 500;
    line-height: 1.5;
    border: none;
    cursor: pointer;

}
.blue-button:hover{
    background-color: #404BBF;
}
.blue-button:focus{
    background-color: #404BBF;
}

/*ABOUT US*/
.about_us{
    background-color: #ffffff;
    
}
.about_us_subtitle{
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.about_us_content{
    letter-spacing: 0.02em;
}

.about_us  li{
    background-color: #ffffff;
}

/*OUR TEAM*/
.our-team{
        background-color: #f4f4fd;
}
.our-team-title{
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    letter-spacing: 0.02em;
}
.team-title {
letter-spacing: 0.02em;
}

.our-team-sub-title{
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.our-team-content{
    font-size: 16px;
    letter-spacing: 0.02em;
}
.our-team ul {
    list-style: none outside none;
}
.our-team li{
    background-color: #ffffff;
    text-align: center;
}
.team-member{
    background-color: #FFFFFF;
}
.team-member-name {
    color: #2e2f42;
}
/*OUR PORTFOLIO*/
#our-portfolio{
    text-align: center;

}
#our-portfolio li{
    background-color: #ffffff;
}
.portfolio-title{
    line-height: 1.11;
    text-transform: capitalize;
    color:#2e2f42;
    letter-spacing: 0.02em;
}
.portfolio-sub-title{
    font-weight: 500;
    line-height: 1.2;
    color: #2e2f42;
    letter-spacing: 0.02em;
}
.portfolio-content{
    letter-spacing: 0.02em;
}
/*FOOTER*/
.footer-section {
    font-family: "Raleway", sans-serif;
    background-color: #2e2f42;
  }

  .footer-text {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
  }

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.footer-logo-studio{
    color: #2e2f42;   
}
.footer-logo-second{
    color: #2e2f42;
}
.adress {
    font-style: normal;
}
.hero{
    background-color:#2e2f42
}
.hero-title{
    line-height:1.07;
    text-align:center;
    letter-spacing: 0.02em;
    color:#ffffff; 
}
.features-title{
    font-weight:500;
    line-height:1.2;
    letter-spacing:0.02em;
    color:#2e2f42; 
}
.features-text{
    letter-spacing: 0.02em;
}
.our-team{
    background-color:#f4f4fd;
}
.our-team-title{
    line-height:1.11;
    letter-spacing:0.02em;text-transform:capitalize;
    color:#2e2f42; 
}
.team-member{
    background-color:#ffffff;
}
.team-member-name{
    font-weight:500;
    line-height:1.2;
    letter-spacing:0.02em; 
}
