body {
    font-family: "Roboto", sans-serif;
    color:  #434455; 
    background-color: #FFFFFF;
    line-height: 1.5;
   }

   h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02 em;
   }
   h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 40 px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
   }
   h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2e2f42;
   }
   p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
   }

   #header {
    font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #4d5ae5;
	text-decoration: none;
}
.header-logo-studio {
    color: #2e2f42;
    font-family: 'raleway', sans-serif;
    font-weight: 700;
    text-decoration: underline;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
}
.header-info {
    font-style: normal;
}
.contact-info {
    color: #434455;
    letter-spacing: 0.02em;
}
.contact-info:hover,
.contact-info:focus {
    color: #404bbf;
}
.menu-bar {
    text-decoration: none;
    color: #2e2f42;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}
.menu-bar:hover,
.menu-bar:focus {
    color: #404bbf;
}
.menu-info {
    color: #434455;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}
.menu-info:hover,
.menu-info:focus {
	color: #404bbf;
}
.menu:active {
	text-decoration: underline;
	text-decoration-color: #404bbf;
	color: #404bbf;
}